@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-size: 18px;
}

@media (max-width:992px) {
    *{
        font-size: 14px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #FFF;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
}