@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-size: 18px;
}

@media (max-width:992px) {
    *{
        font-size: 14px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #FFF;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
}

/* Custom styling to shift the arrow */
form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"%3E%3Cpath fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" /%3E%3C/svg%3E');
    background-size: 30px;
}

/* File Inputan Custom */
.file-input {
    @apply hidden;
}

.file-label {
    @apply inline-flex items-center px-4 py-2 bg-gray-200 text-gray-700 border border-gray-300 rounded-l-lg cursor-pointer hover:bg-gray-300;
}

.file-name {
    @apply flex-1 px-4 py-2 bg-white border border-gray-300 rounded-r-lg text-gray-700;
}